<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg"></div>
  <div class="content">
    <ion-avatar id="profile-picture">
      <img src="assets/img/Anos.jpg" />
    </ion-avatar>
    <div class="ion-text-center">
      <h1>Erick Sanggorr</h1>
      <h3>00000026055 - DL</h3>
      <p class="ion-padding">
        Saya mengerjakan projek ini dibantu oleh syauqi selebihnya mencari ilmu di-internet dan tugas week-week sebelumnya. Saya tidak menggunakan library tambahan, projek ini hanya menggunakan ionic docummentation.
    </div>
  </div>
</ion-content>
